<div id="<%= dom_id pokemon_stat %>">
  <p>
    <strong>Stat:</strong>
    <%= pokemon_stat.stat_id %>
  </p>

  <p>
    <strong>Pokemon:</strong>
    <%= pokemon_stat.pokemon_id %>
  </p>

  <p>
    <strong>Base stat:</strong>
    <%= pokemon_stat.base_stat %>
  </p>

  <p>
    <strong>Effort:</strong>
    <%= pokemon_stat.effort %>
  </p>

</div>
