<div id="<%= dom_id my_pokemon %>" class="card-mypokemon">
  <p>
    <%= link_to "Show this my pokemon", my_pokemon %>
  </p>

  <div class="px-0.5 py-0.5" >
    <div class="img-pok">
      <img src='<%=my_pokemon.pokemon.image%>' width=100% >
    </div>
    <p class="text text-w-700 mx-0.5 my-0.5"><%= my_pokemon.pokemon.name %></p>
      
  </div>
  <p>
    <strong>N° Pokemon:</strong><%= my_pokemon.pokemon_id %>
  </p>

  <p>
    <strong>Nickname:</strong><%= my_pokemon.nickname %>
  </p>

  <p>
    <strong>Experience:</strong><%= my_pokemon.experience %>
  </p>

  <p>
    <strong>Level:</strong><%= my_pokemon.level %>
  </p>

  <p>
    <strong>HP:</strong><%= my_pokemon.real_stat[:hp] %>
  </p>

  <%= form_with url: "/train", method: :get do |form| %>
    <%=form.hidden_field :my_pokemon_id, value: my_pokemon.id%>
    <%= form.submit "Train" %>
  <% end %>

</div>
