<div id="<%= dom_id pokemon %>" >
  <%= link_to pokemon, :action => 'go', class:"style-none" do %>
    <div class="card px-0.5 py-0.5" >
      <div class="img-pok">
          <img src='<%=pokemon.image%>' width=100% >
      </div>
       <p class="text text-w-700 mx-0.5 my-0.5"><%= pokemon.name %></p>
      <div class="flex row js-cont-se">
        <% pokemon.types.each do |type|%>
            <div class = "br-rad flex tag ali-item-center js-cont-center"style="background-color:<%=type.color%>;">
              <p><%=type.name%></p>
            </div>
        <% end %>
      </div>
     
    </div>

  <% end %>
</div>

  
  