<div id="<%= dom_id pokemon %>" >
  <%= link_to pokemon, :action => 'go', class:"style-none" do %>
    <div class="card" >
  

      <p >
        <strong>Weight:</strong>
        <%= pokemon.weight %>
      </p>

      <p>
        <strong>Height:</strong>
        <%= pokemon.height %>
      </p>
    
      <div class="img-pok">
          <img src='<%=pokemon.image%>' width=100% >
      </div>
      <div class="flex row js-cont-se">
        <% pokemon.types.each do |type|%>
            <p><%=type.name%></p>
        <% end %>
      </div>
      <p class="text"><%= pokemon.name %></p>
    </div>

  <% end %>
</div>

  
  