<div id="<%= dom_id real_stat %>">
  <p>
    <strong>Hp:</strong>
    <%= real_stat.hp %>
  </p>

  <p>
    <strong>Attack:</strong>
    <%= real_stat.attack %>
  </p>

  <p>
    <strong>Defense:</strong>
    <%= real_stat.defense %>
  </p>

  <p>
    <strong>Special attack:</strong>
    <%= real_stat.special_attack %>
  </p>

  <p>
    <strong>Special defense:</strong>
    <%= real_stat.special_defense %>
  </p>

  <p>
    <strong>Speed:</strong>
    <%= real_stat.speed %>
  </p>

  <p>
    <strong>My pokemon:</strong>
    <%= real_stat.my_pokemon_id %>
  </p>

</div>
