<!DOCTYPE html>
<html>
  <head>
    <title>PokemonApiv02</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  
  <body>
    <nav>
      <ul class="flex row js-cont-fe gap-0.5">
        <li><%= link_to "Pokedex", pokemons_path%></li>
        <li>Battle</li>
        <li><%= link_to "My Pokemons", my_pokemons_path%></li>
        <li>Profile</li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
